.chat-contacts{
    &__controls{
        margin-bottom:10px;
        animation: fadeInRight 1s ease-in-out forwards;
    }
    &__inner{
        max-height: 465px;
        overflow: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
}