.chat-contacts{
    &__controls{
        margin-bottom:10px;
        animation: fadeInRight 1s ease-in-out forwards;
    }
    &__inner{
        max-height: 465px;
        overflow: scroll;
        &::-webkit-scrollbar{
            display: none;
        }
    }
    button{
        cursor: pointer;
        height:39px;
        padding:0px 20px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border:0px;
        font-weight: bold;
        color:white;
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
        &:active{
            outline: none;
            border:0px;
        }
    
    }
    input{
        position: relative;
        top:1px;
        left:0px;
        padding:0px 10px;
        height:39px;
        color:white;
        background:linear-gradient(45deg,$neon-green,yellowgreen);
        border:0px;
        outline:none;
        &:hover{
          opacity:0.9;

        }
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }
}