.chat-contact-item{
    cursor: pointer;
    margin:10px 0px;
    background-color: $item;
    border-radius: 25px;
    transform:translateX(550px);
    border-radius: 25px;
    overflow: hidden;
    @include createFlex(row,flex-start,center,null);
    h3,p{
        margin:3px 0px;
    }
    h3{
        font-size: pxToRem(14);
        @include breakpoint-down(small){
            display:none;
        }
    }
    p{
        color:lightgray;
        font-size:pxToRem(12);
    }
    &:hover{
        background-color: $light-green !important;
    }
    &__img{
        width: 45px;
        height:45px;
        border-radius: 100%;
        overflow: hidden;
        @include createIsomorphicConvex(black,$neon-green);
    }
    &__info{
        margin:0px 10px;
    }
    
    button{
        cursor: pointer;
        margin-left: auto;
        margin-right: 10px;
        height:39px;
        padding:0px 10px;
        border-radius: 25px;
        border:0px;
        font-weight: bold;
        color:white;
        @include createIsomorphicConvex(black,$neon-green);
        background:linear-gradient(45deg,$neon-green,yellowgreen);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
        &:active{
            outline: none;
            border:0px;
        }
        
    }
    &__unseen{
        position:relative;
        right:-70px;
    }
    &__unknown{
        background:linear-gradient(45deg,orange,red) !important;
        @include createIsomorphicConvex(black,orange) ;
        &:hover{
            background:linear-gradient(45deg,red,orange) !important;
        }
    }

}