.contact-item{
    cursor: pointer;
    margin:10px 0px;
    background-color: $item;
    border-radius: 25px;
    border-radius: 25px;
    overflow: hidden;
    transform: translateY(600px);
    @include breakpoint-down(small){
        overflow-x:scroll;
    }
    @include breakpoint-down-l(medium){
        overflow-x:scroll;
    }

    @include createFlex(row,flex-start,center,null);
 
    &:hover{
        background-color: $light-green !important;
    }
    &__img{
        width: 45px;
        height:45px;
        border-radius: 100%;
        overflow: hidden;
        @include createIsomorphicConvex(black,$neon-green);
        @include breakpoint-down(small){
            min-width: 45px;
            min-height:45px;
        }
    }
    &__info{
        margin:0px 10px;
        h3,p{
            margin:3px 0px;
            font-size: pxToRem(16);
            
        }
       
    }
    h3{
        font-size: pxToRem(14);
        
    }
    &__controls{
        margin-left:auto;
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down-l(medium){
            margin-left:300px;
        }
        @media (max-device-width:540px) and (max-device-height:720px) and (orientation:portrait){
            margin-left:300px;
        }
        button{
            cursor: pointer;
            margin-right: 10px;
            height:39px;
            padding:0px 20px;
            border-radius: 25px;
            border:0px;
            font-weight: bold;
            color:white;
            @include createIsomorphicConvex(black,$neon-green);
            background:linear-gradient(45deg,$neon-green,yellowgreen);
            &:first-of-type{
              background:linear-gradient(45deg,orange,red);
              @include createIsomorphicConvex(black,orange);
              &:hover{
              background:linear-gradient(45deg,red,orange);
              }
            }
            &:hover{
                background:linear-gradient(45deg,yellowgreen, $neon-green);
            }
            &:active{
                outline: none;
                border:0px;
            }
            &:nth-of-type(2){
                background:linear-gradient(45deg,$neon-green, skyblue);
                &:hover{
                    background:linear-gradient(45deg,rgb(0, 187, 255), $neon-green);
                }
            }
            
        }
    }
    &__company{
        margin-left:10px;
    }
}