.email-item{
    cursor: pointer;
    min-width: 100%;
    margin:5px 0px;
    border-radius:25px;
    padding:0px 20px 0px 0px;
    background-color: $item;
    overflow: hidden; 
    &:hover{
        background-color: $light-green !important;
    }
    @include createFlex(row,flex-start,center,null);
    @include breakpoint-down(small){
        padding-right:0px;
    }
    &__img{
        margin-right: 20px;
        min-width: 45px;
        min-height:45px;
        max-width: 45px;
        max-height:45px;
        
        overflow: hidden;
        border-radius:100%;
        @include createIsomorphicConvex(black,$neon-green);
        @include breakpoint-down(small){
            display:none;
        }
        img{
            width: 100%;
        }
    }   
   
    &__content{
        @include breakpoint-down(medium){
           width:100%;
        }
        @include breakpoint-down(small){
            overflow-x:hidden;
            width:85%;
        }
        h3,p{
            margin:3px 0px;
        }
        h3{
            font-size: pxToRem(14);
        }
        p{
            color:lightgray;
            font-size:pxToRem(12);
            text-overflow: ellipsis;
            width:280px;
            overflow:hidden;
            display:inline-block;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }
    &__date{
        @include breakpoint-down(medium){
            display: none;
        }
    }
    & > p {
        margin-right: 10px;
        margin-left: auto;
    }
    &__close{
        cursor: pointer;
    }
    &__view-btn{
        cursor: pointer;
        height:39px;
        padding:0px 20px;
        border-radius: 25px;
        border:0px;
        font-weight: bold;
        color:white;
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        @include createIsomorphicConvex(black,$neon-green);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
        &:active{
            outline: none;
            border:0px;
        }
        
    }
}