.email-contact-item{
    cursor: pointer;
    padding:10px;
    margin-right: 10px;
    border-radius: 25px;
    @include createFlex(row,space-between,center,null);
    &:hover{
            background-color: $light-green !important;
        }
    &__info{
        h3,p{
            margin:3px 0px;
        }
        h3{
            font-size: pxToRem(14);
        }
        p{
            color:lightgray;
            font-size:pxToRem(12);
        }
    }
    &__contact-btn{
        cursor: pointer;
        height:39px;
        padding:0px 10px;
        border-radius: 25px;
        border:0px;
        font-weight: bold;
        color:white;
        @include createIsomorphicConvex(black,skyblue);
        background:linear-gradient(45deg,$neon-green, skyblue);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
        &:active{
            outline: none;
            border:0px;
        }
        
    }
}