.settings{
    &__widget{
       cursor: pointer;
       padding:50px 0px;
       background-color: $item;
       border-radius: 15px;
       position: relative;
       top:0px;
       left:0px;
       width: 101.5%;
       transition: all 0.5s ease-in-out;
       @include breakpoint-down(medium){
            left: -15px;
            padding: 0px 50px;
            min-width: 87% !important;
            max-width: 90% !important;   
       }
       @include breakpoint-down(small){
            padding:50px 30px;
            left:0px;
            min-width:100% !important;
            max-width:100% !important;
       }
       
        h3{
            text-align:center;
        }
        p{
            position: relative;
            left:-5%;
            top:0px;
            width: 110%;
            @include createFlex(row,space-between,center,null);
        }
       &:hover{
           transform:translateY(-20px);
           &:before{
               height:120px;
           }
       }
       &:before{
           content:'';
           position: absolute;
           top:0px;
           left:0px;
           height: 100px;
           width: 100%;
           background-color: $strong-green;
           border-radius: 15px;
           transition: all 0.5s ease-in-out;
       }
       @include createFlex(column,center,center,null);
    }
    &__image{
        margin:0px auto;
        height:100px;
        width:100px;
        position: relative;
        z-index: 2;
        top:0px;
        left:0px;
        border-radius: 100%;
        overflow: hidden;
        border:5px solid white;
        @include breakpoint-down(medium){
            width:45px !important;
            height:45p !important;
            max-width:45px !important;
            max-height:45px !important;
        }
        img{
            width: 100%;
        }
    }
}