.small-widget{
    padding:10px 0px;
    background-color: $item;
    width: 200px;
    border-radius:15px;
    @include createFlex(row,center,center,null);
    @include breakpoint-down(medium){
        width: 32%;
        margin:20px 0px;
    }
    @include breakpoint-down(small){
        width:100%;
        margin:5px 0px;
        @include createFlex(row,flex-start,center,null);
        padding:10px 20px;
    }
    &__content{
        margin-right: 20px;
        h3{
            margin:3px 0px;
        }
    }
}