.todo{
    box-sizing: border-box;
    width: 100%;
    background-color: $item;
    border-radius: 15px;
    padding:0px 20px;
    &__heading{
        position: relative;
        top:0px;
        left:0px;
        width: 100%;
        @include createFlex(row,center,center,null);
        div{
            margin-left: 20px;
        }
    }
    &__save{
        cursor: pointer;
        position: absolute;
        right:20px;
        top:20px;
        &:hover{
            svg{
                color:$neon-green;
            }
        }
        svg{
            color:$strong-green;
            width: 30px;
            height:30px;
            transition:all 0.3s ease-in-out;
        }
    }
    &__error{
        background-color:red !important;
    }
    &__form{
        button{
            cursor: pointer;
            font-weight:bold;
            color:white;
        }
    }
    &__field{
        padding:10px;
        @include createFlex(row,center,center,null);
        input{
            padding:10px;
            width: 100%;
            background-color: $strong-green;
            border:0px;
            outline:none;
            border-top-left-radius:5px ;
            border-bottom-left-radius:5px ;
            color:white;
            font-weight: bold;
            border-bottom: 2px solid transparent;
            transition:all 0.3s ease-in-out;
            &::placeholder{
                color:white;
                font-style:italic;
            }
            &:active,&:focus{
                background-color: $neon-green;
                border-bottom: 2px solid yellowgreen;
                button{
                    border-bottom: 2px solid yellowgreen;
                }
            }
        }
        button{
            min-width: fit-content;
            padding:10px 20px;
            border-top-right-radius:5px ;
            border-bottom-right-radius:5px ;
            border:0px;
            background-color: yellowgreen;
            border-bottom: 2px solid transparent;
            &:active{
                outline:none;
            }
        }
    }
    &__date{
        overflow: hidden;
        height:40.5px;
        max-width: 40px;
        input{
            border-radius: 0px;
            transform:translateX(-78%) translateY(30%) scale(3);
        }
        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(100%);
          }
       
    }
    &__edit{
        textarea{
            margin-top: 50px;
            border:0px;
            color:white;
            width: 100%;
            height:150px;
            background-color: transparent;
            border-bottom: 1px solid $strong-green;
            &:focus,&:active{
                border:0px;
                border-bottom: 1px solid $strong-green;
                outline:none;

            }
        }
        button{
            cursor: pointer;
            padding:10px 0px;
            display: block;
            position: absolute;
            bottom:10px;
            left:0px;
            border:0px;
            width: 98%;
            font-weight: bold;
            color:white;
            &:focus,&:active{
                border:0px;
                outline:none;

            }
           
            svg{
                margin-right: 10px;
            }
        }
    }
    &__btn-finished{
        background-color: $strong-green;
    }
    &__btn-pending{
        background-color: red;
    }
    &__edit-heading{
        margin-top: 20px;
        width: 100%;
        @include createFlex(row,flex-start,center,null);
        input:first-of-type{
            border:0px;
            color:white;
            width: 100%;
            background-color: transparent;
            border-bottom: 1px solid $strong-green;
            &:focus,&:active{
                border:0px;
                border-bottom: 1px solid $strong-green;
                outline:none;

            }
        }
       span{
           margin-left: 20px;
           min-width: fit-content;
       }
        
    }
    &__edit-date{
        margin-left: 10px;
        border-radius: 10px;
        background-color:$strong-green;
        overflow: hidden;
        height:40.5px;
        max-width: 40px;
        input{
            width: 40px;
            transform:translateX(-94%) translateY(100%) scale(3);
            &:focus,&:active{
                outline:none;
                border:0px;
            }
        }

        input[type="date"]::-webkit-calendar-picker-indicator {
            filter: invert(100%);

          }
    }
    &__body{
        position: relative;
        top:0px;
        left:0px;
        padding:10px 20px 10px 0px;
        border-bottom: 1px solid $strong-green;
        border-top: 1px solid $strong-green;
        height:320px;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    &__footer{
        height:70px;
    }
    &__footer{
        @include createFlex(row,center,center,null);
        button{
            cursor: pointer;
            margin:0px 3px;
            min-width: fit-content;
            padding:10px 20px;
            border:0px;
            background-color: transparent;
            color:white;
            font-weight: bold;
            transition:all 0.3s ease-in-out;
            &.active{
                color:$strong-green;
            }
            &:first-of-type{
                
            }
        }
    }
}