.WheatherMainItem {
  
      @include breakpoint-down(medium-sm){
        min-width:112%; 
      }
    @include breakpoint-down(small){
        position:relative;
        left:-11%;
        top:0px;
        min-width:76%;
        height:100%;
        
    }
}
.wheatherMainItem {
      @include breakpoint-down(small){
            min-width:100%;
            height:100%;
            
        }
    &__main-item-header {
        height: 50px;
        @include createFlex(row, flex-start, center, null);

    }
    &__main-item {
        position: relative;
        left: 0px;
        top: 0px;
        margin: 0px auto;
        margin-top: $m-md;
        height: 165px;
        width:85.5%;
        padding: $p-md-l;
        padding-top:$p-l;
        background-color: $item;
        border-radius: 10px;
        transition: all 1s ease-in-out;
        color:$white;
        animation:fadeInRight 1s ease-in-out forwards;
        @include breakpoint-down(medium){
            width:80%;
            left:0%;
            height:200px;
            margin:20px auto;
            padding:60px  $p-md-l 50px;
          }
          
      @include breakpoint-down(medium-sm){
        padding-bottom:100px;
      }
        @include breakpoint-down(small){
            min-width:100%;
            height:100%;
            
        }
      
      
        
        
        img {
            position: relative;
            top: 5px;
            left: 80px;
            padding-top:$p-sm-md;
            padding-bottom: 0px;
            display: block;
            margin: -60px auto;
            width: 20%;
            @include breakpoint-down(medium){
                top:-20px;
            }
            @include breakpoint-down(small){
                left:90px;
                top:-30px;
            }
        }
       
    }
    &__wheather {
        margin: $m-sm 0px $m-sm-md;
        h3 {
            margin: 0px;
            @include breakpoint-down(small){
                font-size:pxToRem(14);
            }
        }
        h3:nth-of-type(2) {
            margin: 0px $m-sm;
        }
        @include createFlex(row, flex-start, center, null);
    }
    &__wheather-info {
        margin-top: $m-sm;
        @include breakpoint-down-l(medium){
            margin-top: -$m-sm-md;
        }
        @include createFlex(row, space-between, center, wrap);
        p {
            @include createFlex(row, flex-start, center, null);
            font-size: pxToRem(12) !important;
            font-weight: bold;
            padding: $p-sm;
            height: 30px;
            margin: $m-sm 0px;
            margin-right: $m-v-sm;
            width: $s-25-p;
            background-color: $strong-green;
            @include breakpoint-down(medium){
                width: 40%;
            }
            @include breakpoint-down-l(medium){
                width: 40%;
            }
            @include breakpoint-down(small){
                width:100%;
            }

        }
    }
}