.chat{
    position:relative;
    top:70px;
    left:0px;
    padding:20px;
    @include createFlex(row,space-between,flex-start,null);
    @include breakpoint-down(medium){
        @include createFlex(row,space-between,flex-start,wrap);
    }
    .search{
        @include breakpoint-down-l(medium-sm){
            @include createFlex(row,center,center,wrap);
            button,input{
                margin:5px 0px;
                min-width:100%;
                border-radius:25px !important;
            }
            input{
                min-width:97%;
            }
        }
        @include breakpoint-down(small){
            @include createFlex(row,center,center,wrap);
            button,input{
                margin:5px 0px;
                min-width:100%;
                border-radius:25px !important;
            }
            input{
                min-width:93%;
            }
        }
    }
    &__left-panel{
        width: 50%;
        margin-right: 20px;
        @include breakpoint-down(medium){
            width:100%;
            margin:0px;
        }
    }
    &__right-panel{
        width: 50%;
        @include breakpoint-down(medium){
            width:100%;
        }
        .search{
            margin-top:20px;
            input{
                width:67%;
            }
        }
    }
}