#apexchartsbasicxcolumn .apexcharts-tooltip {
    color: #000000;
  }

  .apexcharts-menu {
    color: #000000;
  }
.dashboard{
    padding:20px;
    position: relative;
    top:70px;
    left:0px;
    background-color: $background;
    min-height:100vh;
    &__main-group{
        @include createFlex(row,flex-start,flex-start,null);
        @include breakpoint-down(medium){
            @include createFlex(row,flex-start,flex-start,wrap);
        }
    }
    &__left-panel{
       width: 100%;
       @include breakpoint-down(medium){
         @include createFlex(row,space-between,flex-start,wrap);
         & > div{
             width: 48%;
             margin:0px;
             height:350px;
             &:last-of-type{
                 @include createFlex(column,center,center,wrap);
                }
            }
       }
       @include breakpoint-down(small){
            & > div{
                margin:20px 0px;
                width:100%;
            }
        }
    }
    &__right-panel{
        box-sizing: border-box;
        padding:0px 50px;
        width: 73%;
        @include createFlex(row,space-between,center,wrap);
        @include breakpoint-down(medium){
            width: 100%;
            padding:0px;
        }
        & >  div:nth-of-type(4){
            margin-top: 20px;
            @include breakpoint-down(medium){
                margin-top:0px;
            }
        }
    }
    &__mobile-charts{
        @include breakpoint-down-l(medium){
            width:100%;
            @include createFlex(column,center,center,null);
        }
        @include breakpoint-down(small){
            width:100%;
            @include createFlex(column,center,center,null);
        }
        h3{
            text-align:center
        }
        svg{
            border-radius:15px;
         
        }
    }
   &__emails{
        width: 97.5%;
        @include createFlex(row,space-between,center,wrap);
    }
    #lottie{
        @include breakpoint-down(small){
            display:none;
        }   
    }
}
