.emails{
  
    box-sizing: border-box;
    position: relative;
    top:70px;
    left:0px;
    padding:20px;
    .lazy-layout-loader{
        width:100%;
        height:100%;
    }
    &__search{
        text-align:right;
        margin-bottom:10px;
        @include createFlex(row,space-between,center,null);
        .emails__write-btn{
            &:last-of-type{
                display: none;
            }
        }
        @include breakpoint-down(medium){
            @include createFlex(row,space-between,center,wrap);
            .emails__write-btn{
                width: 48.5%;
                order:3;
                @include breakpoint-down-l(medium-sm){
                    width:100%;
                    margin:5px 0px;
                }
                @include breakpoint-down(small){
                    width:100%;
                }
                margin:0px;
                &:last-of-type{
                    display: block;
                }
            }
            .search{
                margin:10px 0px;
                width:49%;
                @include breakpoint-down-l(medium-sm){
                    width:100%;
                    @include createFlex(row,center,center,wrap);
                }
                @include breakpoint-down(small){
                    width:100%;
                    @include createFlex(row,center,center,wrap);
                }
                button{
                    font-size:pxToRem(12);
                    min-width: fit-content;
                    width:85px;
                    @include breakpoint-down-l(medium-sm){
                        width:100%;
                        margin:5px 0px;
                        border-radius:25px !important;
                    }
                    @include breakpoint-down(small){
                        width:100%;
                        margin:0px;
                        border-radius:25px !important;
                    }
                }
                input{
                    max-width:155px;
                    @include breakpoint-down-l(medium-sm){
                        width:100%;
                        max-width:100%;
                        border-radius:25px;
                    }
                    @include breakpoint-down(small){
                        width:100%;
                        max-width:100%;
                        border-radius:25px;
                    }
                }
            }
        }
    }
    &__main{
        @include createFlex(row,space-between,flex-start,wrap);
    }
    &__not-connected{
        width:100%;
        height:calc(100vh - 150px);
        @include createFlex(row,center,center,null);
    }
    &__contacts-wrapper{
        box-sizing: border-box;
        padding:20px 0px 20px 20px;
        min-width: 30%;
        height:calc(100vh - 110px);
        background-color: $item;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
        @include breakpoint-down(medium){
            overflow-x: hidden;
            min-width:0%;
            width:0%;
            padding:0px;
        }
    }
    &__contacts{
        height:calc(100vh - 150px);
        overflow-y: scroll;
    }
    &__emails-wrapper{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-sizing: border-box;
        padding:20px;
        width: 70%;
        background-color: $item;
        @include breakpoint-down(medium){
            width:100%;
            overflow-x:hidden;
        }
    }
    &__emails{
        overflow-y: scroll;
        overflow-x: hidden;
        height:calc(100vh - 150px);
        box-sizing: border-box;
        padding:0px 40px 20px 20px;
        animation:fadeIn 1s ease-in-out forwards;
        .email{
            margin:10px 0px;
        }
        @include breakpoint-down(small){
            overflow-x:scroll;
            .email-item{
                min-width:500px;
                &__img{
                    @include breakpoint-down(small){
                        display:block;
                    }
                }
            }
        }
    }
    &__tab-headings{
        margin-bottom:10px;
        @include createFlex(row,flex-start,center,null);
        h3{
            cursor:pointer;
            margin-right:20px;
            transition:all 0.5s ease-in-out;
            @include breakpoint-down(small){
                min-width:fit-content;
            }
            &.active{
                color:yellowgreen;
            }
        }
    }
    &__preview-item{
        position:relative;
        top:0px;
        left:0px;
        height:fit-content;
        animation:fadeIn 1s ease-in-out forwards;
        background-color: white;
        padding:20px;
        h3{
            font-style:normal;
            font-size:pxToRem(20);
            color:black !important;
            font-weight:bold;
            opacity:1;
            margin:10px 0px;
            font-family: 'Raleway', sans-serif !important;
        }
        span{
            font-weight:300 !important;
            font-size: pxToRem(16);
        }
    }
   
    &__preview-controls{
       width:200px;
       padding:10px 0px 20px;
       margin-left:auto;
    }
    &__write-btn,&__hide-btn,&__send-btn{
        margin:0px 5px;
        cursor: pointer;
        padding:10px 20px;
        border-radius:25px;
        border:0px;
        font-weight: bold;
        color:white;
        &:active{
            outline: none;
            border:0px;
        }
    
    }
    &__write-controls{
        margin-left:auto;
        width: 380px;
        @include createFlex(row,flex-start,center,null);
        .invoices__input-file{
            cursor: pointer;
            border-bottom:1px solid $strong-green !important;
            border-radius: 15px;
        }
    }
    &__write-btn{
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
    }
    &__send-btn{
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
    }

    &__hide-btn{
        background:linear-gradient(45deg, red,orange);
        &:hover{
        background:linear-gradient(45deg,orange, red);

        }
    }
    &__write-item{
        width: 103%;
        animation:fadeIn 1s ease-in-out forwards;
        button{
            display: block;
            margin-left:auto;
        }
    }
    &__write-field{
        margin:10px 0px;
        label{
            display: block;
            margin-bottom:5px;
        }
        input,textarea{
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            border:0px;
            color:white;
            width: 100%;
            min-height:100%;
            background-color: transparent;
            border-bottom: 1px solid $strong-green;
            background-color: transparent;
            border-bottom: 1px solid $strong-green;
            &:focus,&:active{
                border:0px;
                border-bottom: 1px solid $strong-green;
                outline:none;

            }
        }
        textarea{
            height:330px;
        }
    }
}