.emails{
  
    box-sizing: border-box;
    position: relative;
    top:70px;
    left:0px;
    padding:20px;
    &__search{
        text-align:right;
        margin-bottom:10px;
        @include createFlex(row,space-between,center,null);
    }
    &__main{
        @include createFlex(row,space-between,flex-start,null);
    }
    &__not-connected{
        width:100%;
        height:calc(100vh - 150px);
        @include createFlex(row,center,center,null);
    }
    &__contacts-wrapper{
        box-sizing: border-box;
        padding:20px 0px 20px 20px;
        min-width: 30%;
        height:calc(100vh - 110px);
        background-color: $item;
        border-top-left-radius: 15px;
        border-bottom-left-radius: 15px;
    }
    &__contacts{
        height:calc(100vh - 150px);
        overflow-y: scroll;
    }
    &__emails-wrapper{
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        box-sizing: border-box;
        padding:20px;
        width: 70%;
        background-color: $item;
    }
    &__emails{
        overflow-y: scroll;
        overflow-x: hidden;
        height:calc(100vh - 150px);
        box-sizing: border-box;
        padding:0px 40px 20px 20px;
        background-color: $background;
        .email{
            margin:10px 0px;
        }
        animation:fadeIn 1s ease-in-out forwards;
    }
    &__preview-item{
        position:relative;
        top:0px;
        left:0px;
        height:100%;
        animation:fadeIn 1s ease-in-out forwards;
        h3{
            font-style:normal;
            font-size:pxToRem(20);
            color:white !important;
            font-weight:bold;
            opacity:1;
            margin:10px 0px;
            font-family: 'Raleway', sans-serif !important;
        }
        span{
            font-weight:300 !important;
        }
    }
   
    &__preview-controls{
       width:200px;
       padding:10px 0px 20px;
       margin-left:auto;
    }
    &__write-btn,&__hide-btn{
        margin:0px 5px;
        cursor: pointer;
        padding:10px 20px;
        border-radius:25px;
        border:0px;
        font-weight: bold;
        color:white;
        &:active{
            outline: none;
            border:0px;
        }
    
    }
    &__write-btn{
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        &:hover{
            background:linear-gradient(45deg,yellowgreen, $neon-green);
        }
    }
    &__hide-btn{
        background:linear-gradient(45deg, red,orange);
        &:hover{
        background:linear-gradient(45deg,orange, red);

        }
    }
    &__write-item{
        width: 103%;
        animation:fadeIn 1s ease-in-out forwards;
        button{
            display: block;
            margin-left:auto;
        }
    }
    &__write-field{
        margin:10px 0px;
        label{
            display: block;
            margin-bottom:5px;
        }
        input,textarea{
            min-width: 100%;
            width: 100%;
            max-width: 100%;
            border:0px;
            color:white;
            width: 100%;
            min-height:100%;
            background-color: transparent;
            border-bottom: 1px solid $strong-green;
            background-color: transparent;
            border-bottom: 1px solid $strong-green;
            &:focus,&:active{
                border:0px;
                border-bottom: 1px solid $strong-green;
                outline:none;

            }
        }
        textarea{
            height:330px;
        }
    }
}