#apexchartsbasicxcolumn .apexcharts-tooltip {
    color: #000000;
  }
.home{
    padding:20px;
    position: relative;
    top:70px;
    left:0px;
    background-color: $background;
    min-height:100vh;
    &__main-group{
        @include createFlex(row,flex-start,flex-start,null);
    }
    &__left-panel{
       width: 30%;
    }
    &__right-panel{
        box-sizing: border-box;
        padding:0px 50px;
        width: 70%;
        @include createFlex(row,space-between,center,wrap);
        & >  div:nth-of-type(4){
            margin-top: 20px;
        }
    }
   &__emails{
        width: 100%;
        @include createFlex(row,space-between,center,wrap);
    }
}
