.invoices{
    position: relative;
    top:70px;
    left:0px;
    padding:20px;
    h2{
        margin-top:20px;
        text-align: center;
        background: transparent;
        border:0px;
    }
  
    button{
        cursor: pointer;
        padding:10px 20px;
        border-radius:25px;
        border:0px;
        font-weight: bold;
        color:white;
        
        &:active{
            outline: none;
            border:0px;
        }
    }
    &__header{
        @include createFlex(row,space-between,center,null);
    }
    &__green-btn{
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        &:hover{
        background:linear-gradient(45deg,yellowgreen, $neon-green);

        }
    }
    &__save{
        margin-top:20px;
        display: block;
    }
    &__red-btn{
        background:linear-gradient(45deg, red,orange);
        &:hover{
        background:linear-gradient(45deg,orange, red);

        }
    }
    &__inner{
        height:100vh;
        margin-bottom: 20px;
        @include createFlex(row,space-between,flex-start,null);
        transition: all 0.3s ease-in-out;
    }
    &__left-panel{
        box-sizing: border-box;
        padding-top: 20px;
        overflow-x: hidden;
        width: 0%;
        max-width: 100%;
    }
    &__field{        
        position:relative;
        top:0px;
        left:0px;
        margin:5px 0px;
        margin-right: 40px;
        label{
            margin-bottom: 5px;
            display: block;   
        }
        input[type="file"]{
            position: relative;
            z-index: 2;
            top:-40px;
            left:0px;
            opacity:0;
        }
        input,.invoices__input-file{
            background-color: $item;
            padding:10px;
            width: 100%;
            border:0px;
            border-bottom: 1px solid transparent;
            border-radius: 25px;
            color:white;
            &:hover,&:focus,&:active{
                outline: none;
                border-bottom: 1px solid $strong-green;
            }
        }
    }
    &__custom{
        button{
           margin-top:20px;
           margin-right:10px;
           background: linear-gradient(45deg,$strong-green,yellowgreen);
           &:hover{
                background: linear-gradient(45deg,yellowgreen,$strong-green);
           }
        }
        &:hover{
            button{
            cursor: pointer;

            }
        }
    }
    &__field-type{
        width: 110px;
        cursor: pointer;
        padding:5px;
        position: absolute;
        top:70px;
        left:0px;
        background-color: $item;
        border-radius: 15px;
        animation:fadeInWithRotate 1s ease-in-out forwards;
        &.close{
            animation:fadeOutWithRotate 1s ease-in-out forwards;
        }
        p{
            cursor: pointer;
            padding:5px 10px;
            border-radius: 15px;
        }
        p:hover{
            background-color: grey;
        }
    }
    &__input-file{
        cursor: pointer;
        color:white;
        height:20px;
        svg{
            margin-right: 10px;
            width: 20px;
            height:20px;
        }
    }
    &__custom-field-btn{
        margin-top:15px;
        position:relative;
        right:0px;
        top:0px;
    }
    &__right-panel{
        width: 100%;
        overflow-y: scroll;
        height:130vh;
        &::-webkit-scrollbar{
            display: none;
        }
    }
 
    &__pdf-viewer{
        position: relative;
        z-index: 3;
        top:0px;
        left:0px;
        embed{
            opacity:0;
            margin-top:50px;
            width: 100%;
            height:842px;
            animation: fadeIn 1s ease-in-out forwards;
        }
    }
    &__empty{
        height:80vh;
        @include createFlex(row,center,center,null);
    }
}