#apexchartsbasicxcolumn .apexcharts-tooltip {
    color: #000000 !important;
  }
  .apexcharts-menu {
    color: #000000 !important;
  }
.settings{
    padding:50px;
    position: relative;
    top:50px;
    left:0px;
    @include createFlex(row,center,flex-start,null);
    @include breakpoint-down(medium){
        @include createFlex(row,center,flex-start,wrap);
    }
    &__main{
        width: 62%;
        @include breakpoint-down(medium){
            order:2;
            width:100%;
        }
    }
    &__widget-wrapper{
        width: 38%;
        @include breakpoint-down(medium){
            order:1;
            width:100%;
            @include createFlex(row,center,center,wrap);
            & > div{
                min-width:92%;
                &:last-of-type{
                    position:relative;
                    left:-10px;
                    top:0px;
                }
            }
        }
        @include breakpoint-down(small){
            & > div{
                min-width:100%;
                 &:last-of-type{
                    position:relative;
                    left:-25px;
                    top:0px;
                }
            }
        }
    }
    &__form-split{
        @include createFlex(row,flex-start,center,null);
        @include breakpoint-down(small){
            display:block;
        }
        .invoices__field{
            width: 100%;
        }
    }
    &__form-submit-btn{
        cursor: pointer;
        width: 97%;
        margin-top:20px;
        padding:10px 20px;
        border-radius:25px;
        border:0px;
        font-weight: bold;
        color:white;
        background:linear-gradient(45deg, $neon-green,yellowgreen);
        &:hover{
        background:linear-gradient(45deg,yellowgreen, $neon-green);

        }
        &:active{
            outline: none;
            border:0px;
        }
    }
}